/* TODO 
1. Vertical, centered stacking of before/after images for lapsify
2. Horizontal on desktop
3. Adjust any buttons not covered by standard styles .css
4. Add handrawn border frames for images
*/

.lapsify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lapsify-comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lapsify-original-image, .lapsify-filtered-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lapsify-canvas {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.lapsify-actions {
    display: flex;
    justify-content: space-between;
    width: 100%
}

/* utility class to hide elements */
.hidden {
    display: none !important;
}

@media (min-width: 768px) {
    .lapsify-comparison {
        flex-direction: row;
        justify-content: space-evenly;
    }
}